
<div id="sign_in">
  <form action="/user_sign_in" method="post">
    <% if @message %>
      <div id="message"><%= @message %><br></div>
    <% end %>
    Enter User Name:<br>
    <input type="text" name="username"><br>
    Password:<br>
    <input type="password" name="password"><br>
    <button type="submit">Sign In</button>
  </form>
</div>