<h3>Updated:</h3>
<table>
  <tr>
    <td><b>Old Resort Name</b></td>
    <td><b>New Resort Name</b></td>
  </tr>
  <tr>
    <td><%= @old_name %></td> 
    <td><%= @updresort.name %></td> 

  </tr>
</table>